@mixin flex {
	display: flex;
	align-items: center;
}

@mixin mobile-flex {
	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
}

@mixin button {
	border: none;
	border-radius: 1rem;
	font-family: inherit;
	font-size: var(--fs-regular);
	font-weight: 800;
	display: block;
	cursor: pointer;
	text-transform: capitalize;
}

@mixin banner {
	background: url('../../public/assets/safari.png') no-repeat center;
	background-size: cover;
	height: 30vh;
	margin-top: -3rem;
}
