.button {
	@include button;
	background: var(--color-accent);
	color: var(--color-primary);
	padding: 1rem 3rem;
	transition: all 0.5s ease-in;

	&:hover {
		transform: translateY(-5px);
	}

	&.primary {
		background: var(--color-primary);
		color: var(--color-accent);
	}

	&.secondary {
		background: var(--color-primaryAccent);
		color: var(--color-accent);
	}

	&.centered {
		margin-inline: auto;
	}

	&.disabled {
		opacity: 0.8;
		&:hover {
			transform: translateY(0);
		}
	}
}

.select-button {
	@include button;
	background: var(--color-grey);
	padding: 1.5rem 3rem;
	color: #949494;

	&.active {
		background-color: var(--color-primary);
		color: var(--color-accent);
	}
}
