.input-field {
	border: none;
	border-bottom: 1.5px solid var(--color-primary);
	outline: none;
	padding: 1rem 1.5rem;
	font-family: inherit;
	font-size: var(--fs-medium);
	color: var(--color-grey-3);
}
