.modal {
	height: 100vh;
	position: fixed;

	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&__head {
		position: relative;
		margin-bottom: 2rem;
	}

	&__close {
		position: absolute;
		bottom: -2rem;
		right: 0;
		cursor: pointer;
	}

	&.dark {
		background: #00000077;
	}
	&.light {
		background: #ffffff62;
	}
}
