.nav {
	&__items {
		@include flex;
		gap: 3rem;
	}

	&__list {
		list-style: none;
	}

	&__link {
		color: var(--color-white);
		font-size: var(--fs-regular);
		text-transform: uppercase;
		transition: all 1s ease-out;
		cursor: pointer;
		display: block;

		&.active {
			text-decoration: underline;
		}
	}
}
