:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-accent: #f3eee2;
	--color-primary: #395241;
	--color-primaryAccent: #6b8065;
	--color-grey: #e6e6e6;
	--color-grey-2: #949494;
	--color-grey-3: #2b3035;

	//font-size
	--fs-small: 1.2rem;
	--fs-medium: 1.5rem;
	--fs-regular: 1.8rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;

	@media screen and (min-width: 1400px) {
		font-size: 70%;
	}

	@media screen and (max-width: 900px) {
		font-size: 50%;
	}
}

body {
	font-family: 'Poppins', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	padding: 3rem 0;
}

h1 {
	font-size: calc(4rem + 1vw);
	color: var(--color-black);
	text-align: center;
}

h2 {
	font-size: 2rem;
	color: var(--color-grey-3);
	text-align: center;
	margin: 2rem 0;
}

.previous-page {
	cursor: pointer;
	@include flex;
	gap: 1rem;

	span {
		font-size: var(--fs-small);
	}
}
